<!DOCTYPE html>
<html>
    <head>
        <title>Inverted Index</title>
        
        <!--Links tags to Material Design-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" ></script>
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
        <script type="text/javascript" src="./inverted-index.js"></script>
        <script type="text/javascript" src="./app.js"></script>
    </head>
    <body ng-app="InvertedIndex">
        <!-- Always shows a header, even in smaller screens. -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Inverted Index</span>
                <!-- Add spacer, to align navigation to the right -->
                </div>
            </header>
            <br /><br />
            <main ng-controller="invertedController" style="width: 70% margin:auto" align="center">
                <div class="page-content" style="width: 600px; float: left;" align="center">
                    <form>
                        <input type="file" id="selectFiles" value="Import"  accept ="json"/>
                        <p ng-if="!fileExists" style="color:red">{{ uploadError }}</p>
                        <!-- Colored raised button -->
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="import" ng-click="readFile()">
                        Create Index
                        </button>
                    </form>
                    <br />
                    <br />
                    <table ng-if="fileExists" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                            <tr>
                                <th> Keywords </th>
                                <th ng-repeat="i in range">Document {{ i+1 }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,value) in index">
                                <td>{{ key }}</td>
                                <td ng-repeat="i in range"> <span ng-if="value.includes(i)"> x </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-left: 620px;" align="center">
                    <form>
                        <input type="text" id="searchFiles" placeholder="Enter a word to search" ng-model="searchTerm"/>
                        <!-- Colored raised button -->
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="search" ng-click="searchFile()">
                        Search Files
                        </button>
                    </form>
                    <br/><br/>
                    <table ng-if="fileExists" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                            <tr>
                                <th> Word to Search </th>
                                <th ng-repeat="i in range">Document {{ i+1 }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,value) in searchResults">
                                <td>{{ key }}</td>
                                <td ng-repeat="i in range"> 
                                    <span ng-if="value.includes(i)" style= "color:green"> Found </span>
                                    <span ng-if="!value.includes(i)" style= "color:red"> Not Found </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </main>
        </div>
    </body>
    
</html>