.index-content {
  width: 600px;
  float: left;
  margin-top: 20px;
  margin-left: 50px;
}

#index-table {
  align-content: center;
  margin-left: 100px;
}

#select-files {
  margin-left: 130px;
}

#import {
  margin-left: 130px;
  margin-top: 20px;
}

#error-paragraph {
  color: red;
  height: 5px;
  width: 250px;
  margin-top: 5px;
  margin-left: 110px;
}

.search-content {
  margin-left: 620px;
}

#search-table {
  width: 450px;
  margin-right: -20px;
}

hr {
  width: 500px;
}

#search-files {
  margin-top: 30px;
  margin-right: 50px;
}

#search-button {
  margin-top: 40px;
  margin-right: 50px;
}